{% extends 'blog/base.html' %}
{% block body_block %}
    <div class='container container-comment-add'>
        <div class='comment-add-title'>New Comment</div>
        <form method='post'>
        {% csrf_token %}
            {{form}}
            <br>
            <button type='submit'> <i class="far fa-paper-plane"></i> Post Comment</button>
            <a href="{% url 'post_detail' pk=pk %}" class='comment-add-cancel'><i class="fas fa-times"></i> Cancel<a>
        </form>
    </div>
{% endblock  %}