* {
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
nav {
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-flow: row;
  color: #333333;
  background-color: white;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid #00b1cc;
}
a:hover {
  text-decoration: none;
}
a {
  width: 100%;
  height: 100%;
  color: inherit;
}
a:hover {
  color: inherit;
}
.home-logo {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 4rem;
  width: 50%;
}
.home-logo a:hover {
  color: white;
  cursor: pointer;
}
.home-logo a {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
  background-color: #00b1cc;
}
nav ul {
  margin-top: 0.5rem;
  list-style: none;
  width: 40%;
}
nav ul li {
  font-size: 0.9rem;
  font-weight: 600;
  float: right;
  margin-right: 1rem;
}
nav ul li::after {
  display: block;
  content: "";
  border-bottom: solid 2px #00b1cc;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
nav ul li:hover {
  cursor: pointer;
  color: #00b1cc;
}
nav ul li:hover:after {
  transform: scaleX(1);
}

.user-wellcome {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.9rem;
}
.fa-pencil-alt {
  color: #00b1cc;
}
.container {
  padding: 1.5rem;
}
.title-post-main {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.post {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid #00b1cc;
}
.post:hover {
  box-shadow: 0px 0px 16px -1px rgba(0, 5, 190, 0.55);
  cursor: pointer;
}
.post h2::first-letter {
  text-transform: uppercase;
}
.post h2 {
  font-weight: 600;
}
.post-author {
  font-size: 0.9rem;
}
.post-text {
  margin-top: 0.5rem;
}
.post-footer {
  display: grid;
  padding-top: 0.5rem;
}
.post-date {
  grid-column: 1;
  font-size: 0.8rem;
}
.post-comment {
  text-align: right;
  grid-column: 2;
  font-size: 0.8rem;
}
.container-detail {
  border: 1px solid #00b1cc;
  margin-top: 2rem;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 0.95);
}
.post-detail-title {
  font-size: 3rem;
  font-weight: 600;
}
.post-detail-remove {
  padding-bottom: 0.5rem;
}
.post-detail-title::first-letter {
  text-transform: uppercase;
}
.post-detail-author {
  font-size: 0.9rem;
}
.post-detail-author span {
  font-size: 1rem;
  font-weight: 600;
}
.post-detail-publish {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.post-detail-add-comment {
  font-size: 0.9rem;
}
.post-detail-add-comment:hover {
  text-decoration: underline;
  color: #00b1cc;
}
.post-detail-comment {
  background-color: rgba(0, 177, 204, 0.55);
  padding: 0.3rem;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.post-detail-comment-top {
  display: grid;
  padding-bottom: 0.5rem;
}
.post-detail-comment-author {
  grid-column: 1;
}
.post-detail-comment-author span {
  font-size: 0.9;
  font-weight: 600;
}
.post-detail-comment-date {
  grid-column: 3;
  text-align: right;
}
.post-detail-comment-text {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 0.2rem;
}
.post-detail-comment-remove {
  grid-column: 2;
  text-align: center;
}
.post-detail-comment-no-comment {
  background-color: rgba(0, 177, 204, 0.55);
  padding: 0.3rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.container-comment-add {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #00b1cc;
  margin-top: 4rem;
  text-align: center;
}
.comment-add-title {
  font-size: 2.5rem;
  font-weight: 600;
}
.container-comment-add form label {
  display: none;
}

.container-comment-add form textarea:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 175, 204, 0.75);
}

.container-comment-add form textarea:focus {
  border: none;
}

.container-comment-add form button {
  border: none;
  background-color: #00b1cc;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
}
.container-comment-add form button:hover {
  background-color: #007a8d;
}
.comment-add-cancel {
  background-color: rgb(196, 0, 0);
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 6rem;
}
.comment-add-cancel:hover {
  background-color: red;
  cursor: pointer;
}
